@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/angular-styles")
<div>
    <h1>Angular Content Goes Here!</h1>
    <hr />
    <app-hello-world current-user="123"></app-hello-world>
</div>
@Scripts.Render("~/bundles/hello-world")
@Scripts.Render("~/bundles/another-module")